@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply text-4xl lg:text-5xl font-bold;
  }
  h2 {
    @apply text-3xl lg:text-4xl font-bold;
  }
  h3 {
    @apply text-xl lg:text-2xl font-bold;
}
a {
  @apply text-blue-500 underline cursor-pointer;
}
}

@layer utilities {

  .boundary{
    @apply container mx-auto px-4 md:px-6 lg:px-8;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .nav-link {
    @apply lg:text-lg hover:text-yellow-500 text-white no-underline transition-all duration-100 ease-in;
  }
}
